## Flowers Recognition

In this notebook we solve classification task using DL. data set also available on Kaggle: https://www.kaggle.com/alxmamaev/flowers-recognition

## Context:
Total number of images: 4242.

The pictures are divided into five classes: chamomile, tulip, rose, sunflower, dandelion. For each class there are about 800 photos. Photos are not high resolution, about 320x240 pixels. Photos are not reduced to a single size, they have different proportions!

## Goal:
To build a DL model to recognise the images as accurate as possible.

## 1. Importing the data
Data:

1.1. Preparing environment and importing libraries

In [0]:
try:
    %tensorflow_version 2.x
except Exception:
    pass

TensorFlow 2.x selected.

In [0]:
!pip install -q -U --pre efficientnet

In [0]:
!pip install -q toai==0.1.19

In [0]:
__import__('toai').__version__

'0.1.19'

In [0]:
import os

In [0]:
from toai.imports import *
from toai.data import Dataset, DataParams, DataContainer, split_df
from toai.models import save_keras_model, load_keras_model
from toai.metrics import sparse_top_2_categorical_accuracy
from toai.image import (
    ImageLearner,
    ImageAugmentor,
    ImageDataset,
    ImageParser,
    ImageResizer,
    LearningRateFinder,
    ImageTrainingStep,
    ImageTrainer,
)
from toai.utils import download_file, unzip, save_file, load_file
import tensorflow as tf
from tensorflow import keras
import efficientnet.tfkeras as efn

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
from typing import *

In [0]:
tf.__version__

'2.0.0-rc2'

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## 2. Data preparation and analysis

In [0]:
DATA_DIR = Path("data/flowers2")
TEMP_DIR = Path('drive/My Drive/Kiti/AI/Projects/project9_flowers2')
DATA_DIR.mkdir(parents=True, exist_ok=True)
TEMP_DIR.mkdir(parents=True, exist_ok=True)

In [0]:
def setup_kaggle():
    x = !ls kaggle.json
    assert x == ['kaggle.json'], 'Upload kaggle.json'
    !mkdir /root/.kaggle
    !mv kaggle.json /root/.kaggle
    !chmod 600 /root/.kaggle/kaggle.json

setup_kaggle()

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [0]:
!kaggle datasets download -q --unzip alxmamaev/flowers-recognition -p {str(DATA_DIR)}

In [0]:
IMG_DIMS = (299, 299, 3)

In [0]:
IMG_DIMS

(299, 299, 3)

We create the data frame to prepare data for training

In [0]:
def make_df_from_dir(path):
    data = {
        'labels': [],
        'image': [],
    }
    for labels in os.listdir(path):
        for image_name in os.listdir(path/labels):
            try:
                Image.open(str(path/labels/image_name))
                data['labels'].append(labels)
                data['image'].append(str(path/labels/image_name))
            except:
                pass
    return pd.DataFrame(data)

In [0]:
full_df = make_df_from_dir(DATA_DIR/'flowers')

In [0]:
full_df.head().T

                                                        0  ...                                                  4
labels                                               rose  ...                                               rose
image   data/flowers2/flowers/rose/4675532860_890504a4...  ...  data/flowers2/flowers/rose/5001852101_877cb2ae...

[2 rows x 5 columns]

In [0]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 2 columns):
labels    4323 non-null object
image     4323 non-null object
dtypes: object(2)
memory usage: 67.6+ KB

In [0]:
full_df.labels.unique()

array(['rose', 'dandelion', 'daisy', 'sunflower', 'tulip'], dtype=object)

In [0]:
full_df.to_csv(TEMP_DIR/'full_df.csv', index=False)

In [0]:
full_df = pd.read_csv(TEMP_DIR/'full_df.csv')

Image distribution by label

In [0]:
full_df.groupby('labels')['image'].nunique()

labels
daisy         769
dandelion    1052
rose          784
sunflower     734
tulip         984
Name: image, dtype: int64

In [0]:
# import matplotlib.pyplot as plt

In [0]:
plt.style.use('seaborn')
sns.countplot(full_df['labels'].sort_values(), data=full_df)
plt.xticks(rotation=90)
plt.title('All images distribution by labels', fontsize=10)

Text(0.5, 1.0, 'All images distribution by labels')

## 3. Data preprocessing

In [0]:
target_col = 'labels'
image_path_col = 'image'

In [0]:
train_data, valid_data, test_data = ImageDataset.split(
    dataset=ImageDataset.from_dataframe(full_df, x_col=image_path_col, y_col=target_col),
    fracs=(0.8, 0.1, 0.1),
)

In [0]:
train_image_dataset = (
    train_data
    .dataset(batch_size=32, img_dims=IMG_DIMS, shuffle=True)
    .make_pipeline(
        image_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=3, flips="both"),
        ],
    )
    .save_pipeline(TEMP_DIR/"train")
    .preprocess()
)

In [0]:
valid_image_dataset = (
    valid_data
    .dataset(batch_size=32, img_dims=IMG_DIMS, shuffle=False)
    .make_pipeline(
        label_map=train_image_dataset.label_map,
        image_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
        ],
    )
    .save_pipeline(TEMP_DIR/"pred")
    .preprocess()
)

In [0]:
test_image_dataset = (
    test_data
    .dataset(batch_size=32, img_dims=IMG_DIMS, shuffle=False)
    .load_pipeline(TEMP_DIR/"pred")
    .preprocess()
)

In [0]:
train_image_dataset.label_map

{'daisy': 0, 'dandelion': 1, 'rose': 2, 'sunflower': 3, 'tulip': 4}

In [0]:
test_image_dataset.label_map

{'daisy': 0, 'dandelion': 1, 'rose': 2, 'sunflower': 3, 'tulip': 4}

In [0]:
len(train_image_dataset)

3459

In [0]:
len(test_image_dataset)

431

In [0]:
data_container = DataContainer(
    train=train_image_dataset,
    validation=valid_image_dataset,
    test=test_image_dataset,
)

In [0]:
data_container.train.show()

In [0]:
data_container.validation.show()

In [0]:
data_container.test.show()

## 4. Training the Models

In [0]:
learner = ImageLearner(
    path=TEMP_DIR/"xception_v1",
    base_model=keras.applications.Xception,
    input_shape=IMG_DIMS,
    output_shape=[data_container.train.n_classes],
    activation=keras.activations.softmax,
    loss=keras.losses.sparse_categorical_crossentropy,
    metrics=[keras.metrics.sparse_categorical_accuracy, sparse_top_2_categorical_accuracy],
    dropout=0.5,
    l1=3e-6,
    l2=3e-5,
    override=True,
)

In [0]:
steps = [
    ImageTrainingStep(
        n_epochs=5,
        lr=3e-4,
        optimizer=keras.optimizers.Adam,
        freeze=True,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=1),
        ],
    ),
    ImageTrainingStep(
        n_epochs=5,
        lr=3e-5,
        optimizer=keras.optimizers.Adam,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=5, flips="both"),
        ],
    ),
    ImageTrainingStep(
        n_epochs=5,
        lr=3e-5,
        optimizer=keras.optimizers.Adam,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=3, flips="both"),
        ],
    ),
    ImageTrainingStep(
        n_epochs=5,
        lr=1e-5,
        optimizer=keras.optimizers.SGD,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=1),
        ],
    ),
]

In [0]:
trainer = ImageTrainer(
    learner=learner,
    data_container=data_container,
    steps=steps,
)

In [0]:
trainer.train()

Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 123s 1s/step - loss: 1.5077 - sparse_categorical_accuracy: 0.5140 - sparse_top_2_categorical_accuracy: 0.7130 - val_loss: 0.9087 - val_sparse_categorical_accuracy: 0.6295 - val_sparse_top_2_categorical_accuracy: 0.8304
Epoch 2/5
109/109 [==============================] - 93s 855ms/step - loss: 0.8441 - sparse_categorical_accuracy: 0.7073 - sparse_top_2_categorical_accuracy: 0.8721 - val_loss: 0.7479 - val_sparse_categorical_accuracy: 0.7031 - val_sparse_top_2_categorical_accuracy: 0.8594
Epoch 3/5
109/109 [==============================] - 93s 855ms/step - loss: 0.6909 - sparse_categorical_accuracy: 0.7729 - sparse_top_2_categorical_accuracy: 0.9060 - val_loss: 0.7058 - val_sparse_categorical_accuracy: 0.7143 - val_sparse_top_2_categorical_accuracy: 0.8817
Epoch 4/5
109/109 [==============================] - 94s 859ms/step - loss: 0.6496 - sparse_categorical_accuracy: 0.7853 - sparse_top_2_categorical_accuracy: 0.9068 - val_loss: 0.6329 - val_sparse_categorical_accuracy: 0.7366 - val_sparse_top_2_categorical_accuracy: 0.8996
Epoch 5/5
109/109 [==============================] - 92s 846ms/step - loss: 0.5617 - sparse_categorical_accuracy: 0.8145 - sparse_top_2_categorical_accuracy: 0.9295 - val_loss: 0.7378 - val_sparse_categorical_accuracy: 0.7121 - val_sparse_top_2_categorical_accuracy: 0.8884
Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 306s 3s/step - loss: 0.6506 - sparse_categorical_accuracy: 0.8205 - sparse_top_2_categorical_accuracy: 0.9306 - val_loss: 0.2834 - val_sparse_categorical_accuracy: 0.8884 - val_sparse_top_2_categorical_accuracy: 0.9665
Epoch 2/5
109/109 [==============================] - 273s 3s/step - loss: 0.4459 - sparse_categorical_accuracy: 0.8627 - sparse_top_2_categorical_accuracy: 0.9518 - val_loss: 0.2468 - val_sparse_categorical_accuracy: 0.9018 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 3/5
109/109 [==============================] - 273s 3s/step - loss: 0.3770 - sparse_categorical_accuracy: 0.8873 - sparse_top_2_categorical_accuracy: 0.9593 - val_loss: 0.2397 - val_sparse_categorical_accuracy: 0.9174 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 4/5
109/109 [==============================] - 273s 3s/step - loss: 0.2940 - sparse_categorical_accuracy: 0.9085 - sparse_top_2_categorical_accuracy: 0.9705 - val_loss: 0.2293 - val_sparse_categorical_accuracy: 0.9219 - val_sparse_top_2_categorical_accuracy: 0.9710
Epoch 5/5
109/109 [==============================] - 272s 2s/step - loss: 0.2356 - sparse_categorical_accuracy: 0.9286 - sparse_top_2_categorical_accuracy: 0.9782 - val_loss: 0.2377 - val_sparse_categorical_accuracy: 0.9263 - val_sparse_top_2_categorical_accuracy: 0.9710
Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 305s 3s/step - loss: 0.1839 - sparse_categorical_accuracy: 0.9441 - sparse_top_2_categorical_accuracy: 0.9874 - val_loss: 0.2145 - val_sparse_categorical_accuracy: 0.9397 - val_sparse_top_2_categorical_accuracy: 0.9665
Epoch 2/5
109/109 [==============================] - 273s 3s/step - loss: 0.1541 - sparse_categorical_accuracy: 0.9498 - sparse_top_2_categorical_accuracy: 0.9882 - val_loss: 0.2502 - val_sparse_categorical_accuracy: 0.9263 - val_sparse_top_2_categorical_accuracy: 0.9777
Epoch 3/5
109/109 [==============================] - 273s 3s/step - loss: 0.1351 - sparse_categorical_accuracy: 0.9536 - sparse_top_2_categorical_accuracy: 0.9928 - val_loss: 0.2523 - val_sparse_categorical_accuracy: 0.9353 - val_sparse_top_2_categorical_accuracy: 0.9799
Epoch 4/5
109/109 [==============================] - 273s 3s/step - loss: 0.0857 - sparse_categorical_accuracy: 0.9722 - sparse_top_2_categorical_accuracy: 0.9928 - val_loss: 0.2436 - val_sparse_categorical_accuracy: 0.9375 - val_sparse_top_2_categorical_accuracy: 0.9732
Epoch 5/5
109/109 [==============================] - 273s 3s/step - loss: 0.0926 - sparse_categorical_accuracy: 0.9731 - sparse_top_2_categorical_accuracy: 0.9925 - val_loss: 0.2421 - val_sparse_categorical_accuracy: 0.9375 - val_sparse_top_2_categorical_accuracy: 0.9710
Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 303s 3s/step - loss: 0.1353 - sparse_categorical_accuracy: 0.9570 - sparse_top_2_categorical_accuracy: 0.9908 - val_loss: 0.2130 - val_sparse_categorical_accuracy: 0.9397 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 2/5
109/109 [==============================] - 271s 2s/step - loss: 0.1185 - sparse_categorical_accuracy: 0.9599 - sparse_top_2_categorical_accuracy: 0.9931 - val_loss: 0.2147 - val_sparse_categorical_accuracy: 0.9375 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 3/5
109/109 [==============================] - 273s 3s/step - loss: 0.1189 - sparse_categorical_accuracy: 0.9601 - sparse_top_2_categorical_accuracy: 0.9931 - val_loss: 0.2162 - val_sparse_categorical_accuracy: 0.9375 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 4/5
109/109 [==============================] - 271s 2s/step - loss: 0.1330 - sparse_categorical_accuracy: 0.9581 - sparse_top_2_categorical_accuracy: 0.9888 - val_loss: 0.2172 - val_sparse_categorical_accuracy: 0.9330 - val_sparse_top_2_categorical_accuracy: 0.9688
Epoch 5/5
109/109 [==============================] - 274s 3s/step - loss: 0.1393 - sparse_categorical_accuracy: 0.9547 - sparse_top_2_categorical_accuracy: 0.9931 - val_loss: 0.2168 - val_sparse_categorical_accuracy: 0.9375 - val_sparse_top_2_categorical_accuracy: 0.9688
--------------------------------------------------------------------------------
Name: xception Train Time: 79.9 min. Eval Time: 7.85s Loss: 0.2130 Accuracy: 93.97%
--------------------------------------------------------------------------------

In [0]:
trainer.evaluate_dataset()

14/14 [==============================] - 8s 555ms/step - loss: 0.2130 - sparse_categorical_accuracy: 0.9397 - sparse_top_2_categorical_accuracy: 0.9688

[0.21296972382281507, 0.93973213, 0.96875]

In [0]:
ds_analysis = trainer.analyse_dataset()

In [0]:
print(classification_report(ds_analysis["label"].values, ds_analysis["pred"].values))

              precision    recall  f1-score   support

       daisy       0.97      0.91      0.94        81
   dandelion       0.94      0.98      0.96       113
        rose       0.91      0.95      0.93        63
   sunflower       0.96      0.93      0.94        80
       tulip       0.92      0.92      0.92        96

    accuracy                           0.94       433
   macro avg       0.94      0.94      0.94       433
weighted avg       0.94      0.94      0.94       433

In [0]:
trainer.predict_dataset()

array([[6.3811064e-01, 2.6506661e-03, 7.2437629e-02, 1.7793449e-02,
        2.6900768e-01],
       [1.4747172e-02, 9.8232102e-01, 2.5946329e-07, 9.5742289e-04,
        1.9741512e-03],
       [1.8551377e-09, 9.9997878e-01, 8.6394891e-07, 2.0341544e-05,
        4.2835985e-08],
       ...,
       [1.6146160e-08, 2.0900940e-08, 8.6052543e-10, 1.0663957e-09,
        1.0000000e+00],
       [1.0352473e-09, 9.7991233e-08, 1.3919524e-04, 1.3943089e-08,
        9.9986064e-01],
       [9.6148205e-01, 3.2867290e-02, 7.4837313e-05, 1.7264688e-04,
        5.4031559e-03]], dtype=float32)

In [0]:
trainer.analyse_dataset()

                                                  path  ... pred_probs
0    data/flowers2/flowers/daisy/4581199679_867652c...  ...   0.638113
1    data/flowers2/flowers/daisy/33830843653_ee6d79...  ...   0.982321
2    data/flowers2/flowers/dandelion/6412422565_ce6...  ...   0.999979
3    data/flowers2/flowers/tulip/20910465721_fd8dcc...  ...   0.999970
4    data/flowers2/flowers/tulip/2436998042_4906ea0...  ...   0.999140
5    data/flowers2/flowers/tulip/3498663243_42b39b4...  ...   0.999658
6    data/flowers2/flowers/dandelion/18010259565_d6...  ...   0.999917
7    data/flowers2/flowers/dandelion/22190242684_8c...  ...   0.999836
8    data/flowers2/flowers/sunflower/20753711039_0b...  ...   0.999544
9    data/flowers2/flowers/dandelion/5598591979_ed9...  ...   0.999996
10   data/flowers2/flowers/daisy/7335886184_d06a83f...  ...   0.999897
11   data/flowers2/flowers/dandelion/3589816063_50f...  ...   0.999824
12   data/flowers2/flowers/tulip/2280950463_86510c2...  ...   1.000000
13   data/flowers2/flowers/tulip/12916441224_2ed635...  ...   0.999861
14   data/flowers2/flowers/daisy/14087947408_977925...  ...   0.961482
15   data/flowers2/flowers/tulip/444963906_e41492b6...  ...   0.826258
16   data/flowers2/flowers/sunflower/23247483352_0d...  ...   0.999970
17   data/flowers2/flowers/rose/12202373204_34fb072...  ...   0.999987
18   data/flowers2/flowers/tulip/16702117379_c25bff...  ...   0.999956
19   data/flowers2/flowers/daisy/8021540573_c56cf90...  ...   0.659760
20   data/flowers2/flowers/rose/15811411368_f4f2cd8...  ...   0.999905
21   data/flowers2/flowers/sunflower/8266310743_020...  ...   1.000000
22   data/flowers2/flowers/daisy/754248840_95092de2...  ...   0.999914
23   data/flowers2/flowers/rose/5073473370_bdbb5a99...  ...   0.999487
24   data/flowers2/flowers/sunflower/4745980581_a0b...  ...   0.979583
25   data/flowers2/flowers/tulip/5674132053_b40a7d3...  ...   0.477667
26   data/flowers2/flowers/sunflower/4895721788_f10...  ...   0.998344
27   data/flowers2/flowers/rose/466486216_ab13b5576...  ...   0.999978
28   data/flowers2/flowers/tulip/8713390684_041148d...  ...   1.000000
29   data/flowers2/flowers/tulip/3540595981_73f14d1...  ...   0.999934
..                                                 ...  ...        ...
403  data/flowers2/flowers/tulip/497305666_b5d43488...  ...   0.988116
404  data/flowers2/flowers/tulip/5811004432_266f0f0...  ...   0.997083
405  data/flowers2/flowers/sunflower/265450085_6e9f...  ...   0.999982
406  data/flowers2/flowers/tulip/11614202956_1dcf1c...  ...   0.996522
407  data/flowers2/flowers/dandelion/33882910234_dd...  ...   0.997920
408  data/flowers2/flowers/rose/5336559428_71e8b58a...  ...   0.990102
409  data/flowers2/flowers/sunflower/5180859236_60a...  ...   0.999983
410  data/flowers2/flowers/tulip/20116517681_2f10db...  ...   0.999908
411  data/flowers2/flowers/daisy/5586977262_6b24412...  ...   0.992587
412  data/flowers2/flowers/daisy/3552074420_2a0a716...  ...   0.944272
413  data/flowers2/flowers/daisy/1396526833_fb86716...  ...   0.992861
414  data/flowers2/flowers/sunflower/4877195645_791...  ...   0.999999
415  data/flowers2/flowers/tulip/7166606598_5d2cd30...  ...   0.974058
416  data/flowers2/flowers/dandelion/5670543216_8c4...  ...   0.997997
417  data/flowers2/flowers/daisy/10391248763_1d1668...  ...   0.992810
418  data/flowers2/flowers/tulip/16055807744_000bc0...  ...   0.999945
419  data/flowers2/flowers/dandelion/14648777167_1d...  ...   0.601634
420  data/flowers2/flowers/dandelion/14012247974_69...  ...   0.999998
421  data/flowers2/flowers/rose/9369421752_db1ab2a6...  ...   0.983015
422  data/flowers2/flowers/dandelion/5862288632_1df...  ...   0.999997
423  data/flowers2/flowers/daisy/16577886423_9b2362...  ...   1.000000
424  data/flowers2/flowers/tulip/14270573963_f122c4...  ...   1.000000
425  data/flowers2/flowers/tulip/15516715153_08abc9...  ...   0.999997
426  data/flowers2/flowers/tulip/20708492111_35757c...  ...   0.977237
427  data/flowers2/flowers/tulip/4418204816_018375a...  ...   0.991185
428  data/flowers2/flowers/tulip/4522764992_e9d70b8...  ...   0.960622
429  data/flowers2/flowers/sunflower/6606809995_ede...  ...   0.962074
430  data/flowers2/flowers/sunflower/7820626738_3be...  ...   0.999932
431  data/flowers2/flowers/dandelion/2477986396_19d...  ...   0.999993
432  data/flowers2/flowers/dandelion/5681951567_d3b...  ...   0.999999

[433 rows x 8 columns]

In [0]:
trainer.show_predictions()

In [0]:
trainer.show_predictions(correct=True)

In [0]:
steps_resnet50 = [
    ImageTrainingStep(
        n_epochs=3,
        lr=3e-4,
        optimizer=keras.optimizers.Adam,
        freeze=True,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=1),
        ],
    ),
    ImageTrainingStep(
        n_epochs=5,
        lr=3e-4,
        optimizer=keras.optimizers.Adam,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=3, flips="both"),
        ],
    ),
    ImageTrainingStep(
        n_epochs=5,
        lr=3e-5,
        optimizer=keras.optimizers.Adam,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=3, flips="both"),
        ],
    ),
    ImageTrainingStep(
        n_epochs=3,
        lr=1e-5,
        optimizer=keras.optimizers.SGD,
        feature_pipeline=[
            ImageParser(),
            ImageResizer(img_dims=IMG_DIMS, resize="stretch"),
            ImageAugmentor(level=1),
        ],
    ),
]

In [0]:
learner_resnet50 = ImageLearner(
    path=TEMP_DIR/"resnet50_v1",
    base_model=keras.applications.ResNet50,
    input_shape=IMG_DIMS,
    output_shape=[data_container.train.n_classes],
    activation=keras.activations.softmax,
    loss=keras.losses.sparse_categorical_crossentropy,
    metrics=[keras.metrics.sparse_categorical_accuracy, sparse_top_2_categorical_accuracy],
    dropout=0.5,
    l1=3e-6,
    l2=3e-5,
    override=True,
)

In [0]:
trainer_resnet50 = ImageTrainer(
    learner=learner_resnet50,
    data_container=data_container,
    steps=steps_resnet50,
)

In [0]:
trainer_resnet50.train()

Train for 109 steps, validate for 14 steps
Epoch 1/3
109/109 [==============================] - 109s 997ms/step - loss: 6.4719 - sparse_categorical_accuracy: 0.4183 - sparse_top_2_categorical_accuracy: 0.6456 - val_loss: 4.0920 - val_sparse_categorical_accuracy: 0.2634 - val_sparse_top_2_categorical_accuracy: 0.4397
Epoch 2/3
109/109 [==============================] - 81s 740ms/step - loss: 3.5956 - sparse_categorical_accuracy: 0.6198 - sparse_top_2_categorical_accuracy: 0.8139 - val_loss: 3.7718 - val_sparse_categorical_accuracy: 0.2634 - val_sparse_top_2_categorical_accuracy: 0.4509
Epoch 3/3
109/109 [==============================] - 81s 740ms/step - loss: 2.7729 - sparse_categorical_accuracy: 0.6938 - sparse_top_2_categorical_accuracy: 0.8627 - val_loss: 3.7274 - val_sparse_categorical_accuracy: 0.2634 - val_sparse_top_2_categorical_accuracy: 0.4710
Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 208s 2s/step - loss: 0.7351 - sparse_categorical_accuracy: 0.7833 - sparse_top_2_categorical_accuracy: 0.9180 - val_loss: 2.9840 - val_sparse_categorical_accuracy: 0.2634 - val_sparse_top_2_categorical_accuracy: 0.4531
Epoch 2/5
109/109 [==============================] - 171s 2s/step - loss: 0.3958 - sparse_categorical_accuracy: 0.8736 - sparse_top_2_categorical_accuracy: 0.9596 - val_loss: 2.6800 - val_sparse_categorical_accuracy: 0.2656 - val_sparse_top_2_categorical_accuracy: 0.4933
Epoch 3/5
109/109 [==============================] - 172s 2s/step - loss: 0.3630 - sparse_categorical_accuracy: 0.8802 - sparse_top_2_categorical_accuracy: 0.9656 - val_loss: 2.5871 - val_sparse_categorical_accuracy: 0.2679 - val_sparse_top_2_categorical_accuracy: 0.4531
Epoch 4/5
109/109 [==============================] - 170s 2s/step - loss: 0.3105 - sparse_categorical_accuracy: 0.8974 - sparse_top_2_categorical_accuracy: 0.9751 - val_loss: 2.5913 - val_sparse_categorical_accuracy: 0.2567 - val_sparse_top_2_categorical_accuracy: 0.4554
Epoch 5/5
109/109 [==============================] - 171s 2s/step - loss: 0.2652 - sparse_categorical_accuracy: 0.9123 - sparse_top_2_categorical_accuracy: 0.9736 - val_loss: 1.7062 - val_sparse_categorical_accuracy: 0.5067 - val_sparse_top_2_categorical_accuracy: 0.6942
Train for 109 steps, validate for 14 steps
Epoch 1/5
109/109 [==============================] - 206s 2s/step - loss: 0.1733 - sparse_categorical_accuracy: 0.9412 - sparse_top_2_categorical_accuracy: 0.9868 - val_loss: 0.7891 - val_sparse_categorical_accuracy: 0.6897 - val_sparse_top_2_categorical_accuracy: 0.8571
Epoch 2/5
109/109 [==============================] - 170s 2s/step - loss: 0.1145 - sparse_categorical_accuracy: 0.9619 - sparse_top_2_categorical_accuracy: 0.9923 - val_loss: 0.3817 - val_sparse_categorical_accuracy: 0.8571 - val_sparse_top_2_categorical_accuracy: 0.9487
Epoch 3/5
109/109 [==============================] - 171s 2s/step - loss: 0.0965 - sparse_categorical_accuracy: 0.9685 - sparse_top_2_categorical_accuracy: 0.9920 - val_loss: 0.2518 - val_sparse_categorical_accuracy: 0.9196 - val_sparse_top_2_categorical_accuracy: 0.9710
Epoch 4/5
109/109 [==============================] - 172s 2s/step - loss: 0.0727 - sparse_categorical_accuracy: 0.9751 - sparse_top_2_categorical_accuracy: 0.9968 - val_loss: 0.1888 - val_sparse_categorical_accuracy: 0.9353 - val_sparse_top_2_categorical_accuracy: 0.9844
Epoch 5/5
109/109 [==============================] - 172s 2s/step - loss: 0.0618 - sparse_categorical_accuracy: 0.9805 - sparse_top_2_categorical_accuracy: 0.9966 - val_loss: 0.1551 - val_sparse_categorical_accuracy: 0.9442 - val_sparse_top_2_categorical_accuracy: 0.9844
Train for 109 steps, validate for 14 steps
Epoch 1/3
109/109 [==============================] - 202s 2s/step - loss: 0.0371 - sparse_categorical_accuracy: 0.9900 - sparse_top_2_categorical_accuracy: 0.9980 - val_loss: 0.1474 - val_sparse_categorical_accuracy: 0.9487 - val_sparse_top_2_categorical_accuracy: 0.9844
Epoch 2/3
109/109 [==============================] - 169s 2s/step - loss: 0.0415 - sparse_categorical_accuracy: 0.9880 - sparse_top_2_categorical_accuracy: 0.9983 - val_loss: 0.1463 - val_sparse_categorical_accuracy: 0.9509 - val_sparse_top_2_categorical_accuracy: 0.9844
Epoch 3/3
109/109 [==============================] - 167s 2s/step - loss: 0.0423 - sparse_categorical_accuracy: 0.9882 - sparse_top_2_categorical_accuracy: 0.9991 - val_loss: 0.1466 - val_sparse_categorical_accuracy: 0.9464 - val_sparse_top_2_categorical_accuracy: 0.9844
--------------------------------------------------------------------------------
Name: resnet50 Train Time: 43.5 min. Eval Time: 5.68s Loss: 0.1463 Accuracy: 95.09%
--------------------------------------------------------------------------------

In [0]:
trainer_resnet50.evaluate_dataset()

14/14 [==============================] - 6s 404ms/step - loss: 0.1463 - sparse_categorical_accuracy: 0.9509 - sparse_top_2_categorical_accuracy: 0.9844

[0.1462951713640775, 0.95089287, 0.984375]

In [0]:
ds_analysis_resnet50 = trainer_resnet50.analyse_dataset()

In [0]:
print(classification_report(ds_analysis["label"].values, ds_analysis["pred"].values))

              precision    recall  f1-score   support

       daisy       0.97      0.91      0.94        81
   dandelion       0.94      0.98      0.96       113
        rose       0.91      0.95      0.93        63
   sunflower       0.96      0.93      0.94        80
       tulip       0.92      0.92      0.92        96

    accuracy                           0.94       433
   macro avg       0.94      0.94      0.94       433
weighted avg       0.94      0.94      0.94       433

In [0]:
trainer_resnet50.predict_dataset()

array([[2.2958279e-01, 5.0620534e-03, 1.5814045e-02, 9.0595946e-04,
        7.4863511e-01],
       [1.6908677e-01, 8.3082581e-01, 5.1946984e-07, 3.7806731e-05,
        4.9108370e-05],
       [6.0218208e-06, 9.9998546e-01, 8.0363407e-07, 7.2425983e-06,
        5.3555988e-07],
       ...,
       [1.3781066e-07, 8.2751157e-09, 4.5815714e-06, 7.8002223e-08,
        9.9999523e-01],
       [7.1511913e-10, 3.7459645e-12, 1.1536716e-06, 4.8261519e-08,
        9.9999881e-01],
       [1.0000000e+00, 7.5191513e-13, 9.8632207e-11, 1.5934265e-12,
        6.1544596e-11]], dtype=float32)

In [0]:
trainer_resnet50.analyse_dataset()

                                                  path  ... pred_probs
0    data/flowers2/flowers/daisy/4581199679_867652c...  ...   0.748635
1    data/flowers2/flowers/daisy/33830843653_ee6d79...  ...   0.830826
2    data/flowers2/flowers/dandelion/6412422565_ce6...  ...   0.999985
3    data/flowers2/flowers/tulip/20910465721_fd8dcc...  ...   0.999997
4    data/flowers2/flowers/tulip/2436998042_4906ea0...  ...   0.999994
5    data/flowers2/flowers/tulip/3498663243_42b39b4...  ...   0.993852
6    data/flowers2/flowers/dandelion/18010259565_d6...  ...   1.000000
7    data/flowers2/flowers/dandelion/22190242684_8c...  ...   1.000000
8    data/flowers2/flowers/sunflower/20753711039_0b...  ...   1.000000
9    data/flowers2/flowers/dandelion/5598591979_ed9...  ...   1.000000
10   data/flowers2/flowers/daisy/7335886184_d06a83f...  ...   0.998037
11   data/flowers2/flowers/dandelion/3589816063_50f...  ...   0.998585
12   data/flowers2/flowers/tulip/2280950463_86510c2...  ...   0.999995
13   data/flowers2/flowers/tulip/12916441224_2ed635...  ...   0.999999
14   data/flowers2/flowers/daisy/14087947408_977925...  ...   1.000000
15   data/flowers2/flowers/tulip/444963906_e41492b6...  ...   0.999117
16   data/flowers2/flowers/sunflower/23247483352_0d...  ...   0.999951
17   data/flowers2/flowers/rose/12202373204_34fb072...  ...   0.999997
18   data/flowers2/flowers/tulip/16702117379_c25bff...  ...   0.999996
19   data/flowers2/flowers/daisy/8021540573_c56cf90...  ...   0.825765
20   data/flowers2/flowers/rose/15811411368_f4f2cd8...  ...   0.999529
21   data/flowers2/flowers/sunflower/8266310743_020...  ...   0.999978
22   data/flowers2/flowers/daisy/754248840_95092de2...  ...   0.967102
23   data/flowers2/flowers/rose/5073473370_bdbb5a99...  ...   0.991755
24   data/flowers2/flowers/sunflower/4745980581_a0b...  ...   0.992529
25   data/flowers2/flowers/tulip/5674132053_b40a7d3...  ...   0.975637
26   data/flowers2/flowers/sunflower/4895721788_f10...  ...   1.000000
27   data/flowers2/flowers/rose/466486216_ab13b5576...  ...   0.999588
28   data/flowers2/flowers/tulip/8713390684_041148d...  ...   0.999999
29   data/flowers2/flowers/tulip/3540595981_73f14d1...  ...   0.992483
..                                                 ...  ...        ...
403  data/flowers2/flowers/tulip/497305666_b5d43488...  ...   0.999928
404  data/flowers2/flowers/tulip/5811004432_266f0f0...  ...   0.999280
405  data/flowers2/flowers/sunflower/265450085_6e9f...  ...   0.999999
406  data/flowers2/flowers/tulip/11614202956_1dcf1c...  ...   0.998329
407  data/flowers2/flowers/dandelion/33882910234_dd...  ...   0.997186
408  data/flowers2/flowers/rose/5336559428_71e8b58a...  ...   0.997970
409  data/flowers2/flowers/sunflower/5180859236_60a...  ...   0.989613
410  data/flowers2/flowers/tulip/20116517681_2f10db...  ...   0.999700
411  data/flowers2/flowers/daisy/5586977262_6b24412...  ...   0.937499
412  data/flowers2/flowers/daisy/3552074420_2a0a716...  ...   0.972325
413  data/flowers2/flowers/daisy/1396526833_fb86716...  ...   0.999764
414  data/flowers2/flowers/sunflower/4877195645_791...  ...   1.000000
415  data/flowers2/flowers/tulip/7166606598_5d2cd30...  ...   0.999991
416  data/flowers2/flowers/dandelion/5670543216_8c4...  ...   0.999751
417  data/flowers2/flowers/daisy/10391248763_1d1668...  ...   0.997155
418  data/flowers2/flowers/tulip/16055807744_000bc0...  ...   0.997476
419  data/flowers2/flowers/dandelion/14648777167_1d...  ...   0.924852
420  data/flowers2/flowers/dandelion/14012247974_69...  ...   1.000000
421  data/flowers2/flowers/rose/9369421752_db1ab2a6...  ...   0.991152
422  data/flowers2/flowers/dandelion/5862288632_1df...  ...   1.000000
423  data/flowers2/flowers/daisy/16577886423_9b2362...  ...   0.999998
424  data/flowers2/flowers/tulip/14270573963_f122c4...  ...   0.998436
425  data/flowers2/flowers/tulip/15516715153_08abc9...  ...   1.000000
426  data/flowers2/flowers/tulip/20708492111_35757c...  ...   0.999807
427  data/flowers2/flowers/tulip/4418204816_018375a...  ...   0.965191
428  data/flowers2/flowers/tulip/4522764992_e9d70b8...  ...   0.743915
429  data/flowers2/flowers/sunflower/6606809995_ede...  ...   0.999169
430  data/flowers2/flowers/sunflower/7820626738_3be...  ...   0.999995
431  data/flowers2/flowers/dandelion/2477986396_19d...  ...   0.999935
432  data/flowers2/flowers/dandelion/5681951567_d3b...  ...   0.999998

[433 rows x 8 columns]

In [0]:
trainer_resnet50.show_predictions()

In [0]:
trainer_resnet50.show_predictions(correct=True)

## Summary:

**Accuracy:**

Xception -  93,97 %

ResNet50 - 95,05 %

The better result because off less augmentation level for second layer used.